<% if signed_in? %>
    <div class="row">
        <div class="col-md-3">
            <h3><%=link_to @company.name, company_path(@company)%></h3>
        </div>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
        // Load google charts
        google.charts.load('current', {'packages':['corechart']});
        
        google.charts.setOnLoadCallback(dayExpense);
        google.charts.setOnLoadCallback(weekExpense);
        google.charts.setOnLoadCallback(monthExpense);
        // Draw the chart and set the chart values
        function dayExpense() {
          var dataArray = [["Category",'Expense']];
          <%current_user.companies.find(@company.id).categories.each do |category|%>
            dataArray.push (["<%=category.name%>", <%=compute_cost_day(category, Time.now)%>]);
          <%end%>
          var data = new google.visualization.arrayToDataTable(dataArray);
        
          // Optional; add a title and set the width and height of the chart
          var options = {
            'title':"Today's Spendings: $<%=compute_total_cost_day(@company, Time.now)%>", 
            'width':1000, 'height':700,
            titleTextStyle: {
              color: 'blue',
              fontSize: 40,
              bold: true 
            },
            legendTextStyle: {
              fontSize: 20,
              bold: true
            }
          };
        
          // Display the chart inside the <div> element with id="piechart"
          var chart = new google.visualization.PieChart(document.getElementById('dayExpense'));
          chart.draw(data, options);
        }
        
        // Draw the chart and set the chart values
        function weekExpense() {
          var dataArray = [["Category",'Expense']];
          <%current_user.companies.find(@company.id).categories.each do |category|%>
            dataArray.push (["<%=category.name%>", <%=compute_cost_week(category, Time.now)%>]);
          <%end%>
          var data = new google.visualization.arrayToDataTable(dataArray);
        
          // Optional; add a title and set the width and height of the chart
          var options = {
            'title':"Week Spendings: $<%=compute_total_cost_week(@company, Time.now)%>", 
            'width':1000, 'height':700,
            titleTextStyle: {
              color: 'blue',
              fontSize: 40,
              bold: true
            },
            legendTextStyle: {
              fontSize: 20,
              bold: true
            }
          };
          // Display the chart inside the <div> element with id="piechart"
          var chart = new google.visualization.PieChart(document.getElementById('weekExpense'));
          chart.draw(data, options);
        }
        function monthExpense() {
          var dataArray = [["Category",'Expense']];
          <%current_user.companies.find(@company.id).categories.each do |category|%>
            dataArray.push (["<%=category.name%>", <%=compute_cost_month(category, Time.now)%>]);
          <%end%>
          var data = new google.visualization.arrayToDataTable(dataArray);
        
          // Optional; add a title and set the width and height of the chart
          var options = {
            'title':"Month Spendings: $<%=compute_total_cost_month(@company, Time.now)%>", 
            'width':1000, 'height':700,
            titleTextStyle: {
              color: 'blue',
              fontSize: 40,
              bold: true
            },
            legendTextStyle: {
              fontSize: 20,
              bold: true
            }
          };
          // Display the chart inside the <div> element with id="piechart"
          var chart = new google.visualization.PieChart(document.getElementById('monthExpense'));
          chart.draw(data, options);
        }
    </script>
        <div id="piechart"></div>
        <table  >
          <ul>
            <div id="dayExpense"></div>
            <div id="weekExpense"></div>
            <div id="monthExpense"></div>
          </ul>
        </table>
<% end %>